<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">
        Welcome to
        <span class="text-blue-700 underline decoration-dashed decoration-black"
          >ShopEase</span
        >
      </h1>
      <p class="py-6">
        Discover a world of amazing products, from electronics to fashion and
        beyond. Let's make shopping a breeze!
      </p>
      <a href="/products">
        <button class="btn btn-primary">
          Start Shopping
          <fa-icon [icon]="['fas', 'circle-arrow-right']"></fa-icon>
        </button>
      </a>
    </div>
  </div>
</div>
